<!-- <p appHighlight color="blue">menu works</p> -->
<p appHighlight="blue">menu works</p>
<!-- <p appHighlight [colorResaltado]="menuColor">menu works</p> -->

<ul>
    <li routerLinkActive="selected"><a routerLink="/home">Home</a></li>
    <li routerLinkActive="selected"><a routerLink="/login">Login</a></li>
    <li routerLinkActive="selected"><a routerLink="/about">About</a></li>
    <!-- <li routerLinkActive="selected"><a routerLink="/contact">Contact</a></li>
    <li routerLinkActive="selected"><a routerLink="/users">Users</a></li> -->
  </ul>
  