.login__button {
  text-align: center;
}

.login__button {
    background-color: #dadada;
    outline: none;
    border: none;
    width: 20%;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
