
$base: green;
$important: yellow;
$warning: orange;
$principal-font: 'Courier New', Courier, monospace ;
$secondary-font: Arial, Helvetica, sans-serif;
$box-shadow: -10px 10px 10px black;
$border-radius: 0;




